<%= form_for @article, local: true do |f|%> 
  <h2> <%= pluralize(@article.errors.count, "error")%> prevented this post from saving</h2>
    <ul> 
      <% @article.errors.full_messages.each do |msg|%>
        <li> <%= msg %> </li>
      <%end%>
    </ul>
    <div class="form-group">
      <%= f.file_field :covers, multiple: true %>
      <%= f.button :submit %> 
      <%= f.label :title %> <br>
      <%= f.text_field :title, class: "form-control" %> 
    </div>

      
      <%= f.text_area :body, class: "md-input", rows: 15, data: {provide: "markdown", extension: 'MD'} %> 
      <%= f.submit 'GO', class:'btn btn-primary', type:"submit"  %>
    <p>
    
    

    </p>
  </div>
      

  </div>
    
    
  
  <%end%>



 