<%= form_for @article do |f|%> 
  <h2> <%= pluralize(@article.errors.count, "error")%> prevented this post from saving</h2>
    <ul> 
      <% @article.errors.full_messages.each do |msg|%>
        <li> <%= msg %> </li>
      <%end%>
    </ul>
    <div class="form-group">
      <%= f.label :title %> <br>
      <%= f.text_field :title, class: "form-control" %> 
    </div>

    <%# <div class="md-editor" id="1596313546122">

        <div class="md-header btn-toolbar">
            <div class="btn-group">
              <button class="btn-default btn-sm btn" type="button" title="Bold" tabindex="-1" data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdBold" data-hotkey="Ctrl+B">
                <span class="glyphicon glyphicon-bold"></span> 
              </button>

              <button class="btn-default btn-sm btn" type="button" title="Italic (Ctrl+I)" tabindex="-1" data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdItalic" data-hotkey="Ctrl+I">
                <span class="glyphicon glyphicon-italic"></span> 
              </button>

              <button class="btn-default btn-sm btn" type="button" title="Heading (Ctrl+H)" tabindex="-1" data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdHeading" data-hotkey="Ctrl+H">
                <span class="glyphicon glyphicon-header"></span> 
              </button>
            </div>
              
            <div class="btn-group">
              <button class="btn-default btn-sm btn" type="button" title="URL/Link (Ctrl+L)" tabindex="-1" data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdUrl" data-hotkey="Ctrl+L">
                <span class="glyphicon glyphicon-link"></span> 
              </button>
              
              <button class="btn-default btn-sm btn" type="button" title="Image (Ctrl+G)" tabindex="-1" data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdImage" data-hotkey="Ctrl+G">
                <span class="glyphicon glyphicon-picture"></span>
              </button></div><div class="btn-group">
              
              <button class="btn-default btn-sm btn" type="button" title="Unordered List (Ctrl+U)" tabindex="-1" data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdList" data-hotkey="Ctrl+U">
                <span class="glyphicon glyphicon-list"></span> 
              </button>
              
              <button class="btn-default btn-sm btn" type="button" title="Ordered List (Ctrl+O)" tabindex="-1" data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdListO" data-hotkey="Ctrl+O">
                <span class="glyphicon glyphicon-th-list"></span> 
              </button>
              
              <button class="btn-default btn-sm btn" type="button" title="Code (Ctrl+K)" tabindex="-1" data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdCode" data-hotkey="Ctrl+K">
                  <span class="glyphicon glyphicon-asterisk"></span> 
              </button>
              
              <button class="btn-default btn-sm btn" type="button" title="Quote (Ctrl+Q)" tabindex="-1" data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdQuote" data-hotkey="Ctrl+Q">
                  <span class="glyphicon glyphicon-comment"></span> 
              </button>
            </div>
            <div class="btn-group">
              <button class="btn-sm btn btn-primary" type="button" title="Preview (Ctrl+P)" tabindex="-1" data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdPreview" data-hotkey="Ctrl+P" data-toggle="button">
                <span class="glyphicon glyphicon-search"></span> Preview
              </button>
            </div>
              
            <div class="md-controls">
              <a class="md-control md-control-fullscreen" href="#">
                <span class="glyphicon glyphicon-fullscreen"></span>
              </a>
            </div>
        </div> %>
      
      <%= f.text_area :body, class: "md-input", rows: 15, data: {provide: "markdown", extension: 'MD'} %> 
      <%= f.submit 'GO', class:'btn btn-primary', type:"submit"  %>
    <p>
    
    

    </p>
  </div>
      

  </div>
    
    
  
  <%end%>



 