  <% if current_user%>
    <div class="post-btn"><%= link_to "New Post", new_article_path %></div>
  <%end%>
  
<div class= row>
  <% @articles.each do |article|%>
    
    <div class="arti-date">
      <div class = 'date'> <%=article.created_at.strftime ('%B, %d, %Y')%> </div>
    </div>


    <div class="arti-frame ">
      <div class="arti-title">
        <div class = 'title'> 
          <p>
            <%= link_to article.title, article %>
          </p> 
        </div>
      </div>
        
      <div class="arti-content">
        <div class="arti-content-body">
          <%= markdown(article.body) %>
        </div>
      </div>
        
      <div class= "arti-pic">
      
<% article.covers.each do |cover| %>
      <%= image_tag cover %>
    <% end %>

        <% if article.title?%>

          


        
          <form action="/file-upload"
                class="dropzone"
                id="my-awesome-dropzone">
          </form>
          <p>pic here</p>

        <%end%>
      </div>
    </div> 
      <%= link_to "read" , article_path(article), class:'btn arti-read'%>
    
  
    <%end%>
    
</div>
