<div class='arti-date'>
  <%=@article.created_at.strftime ('%B, %d, %Y')%>
</div>
<div class='arti-body'>

  <div class='title'>
    <h3><%= @article.title %></h3>
    
  </div>
  
  <div class="arti-markdown">
    <%= markdown(@article.body) %>
  </div> 
</div>
<%# @articles.each do |article|%>
  <%#= link_to article.title, article%>
  <%#end%>
  
        <% @article.tag_list.each do |t| %>
          <%= link_to t, tag_path(tag: t), class: "tag-tag"%>
        <% end %>

<div class= 'back-bt'>
  <%= link_to 'Back' , articles_path, class:'back-to-arti' %>
</div>
<% if current_user%> 
  <%= link_to 'Edit', edit_article_path(@article), class:'button' %>
  <%= link_to 'Delete', article_path(@article), method: :delete, data:{confirm: "Are you sure?"},class:'button' %>
<%end%>
<%= social_share_button_tag(@article.title) %>

<h2><%=@article.comments.count%> Comments</h2>
<%= render @article.comments%> 
<h3><%#= @article.user.email %></h3>
<h2>Leave Me A Comment Here!</h2>
<%= render 'comments/form'%> 