<%= markdown(@article.body) %>
<div class='title'>
  <%= @article.title %>
</div>


<p class='date'>
  <%= @article.created_at %>
</p>

<p class='body'>
  <%= @article.body %>
</p>



<%= link_to 'Back' , articles_path%>