<div class='arti-date'>
  <%=@article.created_at.strftime ('%B, %d, %Y')%>
</div>
<div class='arti-body'>

  <div class='title'>
    <h3><%= @article.title %></h3>
  </div>
  
  <div class="arti-markdown">
    <%= markdown(@article.body) %>
  </div> 
</div>

  <% @article.covers.each do |cover| %>
      <%= image_tag cover %>
    <% end %>


<%= link_to 'Back' , articles_path %>
<% if current_user%> 
  <%= link_to 'Edit', edit_article_path(@article), class:'button' %>
  <%= link_to 'Delete', article_path(@article), method: :delete, data:{confirm: "Are you sure?"},class:'button' %>
<%end%>


<h2><%=@article.comments.count%> Comments</h2>
<%= render @article.comments%> 
<h3><%= @article.user.email %></h3>
<h2>ADD A Comment</h2>
<%= render 'comments/form'%> 